/* Style pour les boutons */

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.rulesBody {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  background-image: none;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  background: rgba(240, 173, 73, 0.37);
  box-shadow: 0px 0px 10px 2px #000;
}

main {
  text-align: center;
}

.pocket {
  padding-top: 15px;
  font-size: 2rem;
  color: bisque;
  text-align: center;
}

.rules {
  text-align: left;
  color:bisque;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.help {
  text-align: left;
  color:bisque;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.scores {
  text-align: left;
  color:bisque;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.preview {
  margin: 20px 20px 20px 20px;
}

.indent {
  text-indent: 20px;
}

#gameOver {
  display: none;
  width: 810px;
  align-self: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  text-align: center;
  color:bisque;
  font-size: 2rem;
}

#cardProp {
  display: none;
  width: 810px;
  align-self: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  text-align: center;
  color:bisque;
  font-size: 2rem;
}

table, td {
  border-collapse: collapse;
  color: bisque;
  font-size: 2rem;
  text-align: left;
}
td.record{
  color: bisque;
  font-size: 2rem;
  text-align: right;
}

td.empty {
  width: 40px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

#formRecord {
  width: 810px;
  align-self: center;
  margin: auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  font-size: 2rem;
  color: bisque;
  text-align: center;
}

.label{
  margin-bottom: 10px;
}

input[type="text"]{
  font-size:2rem;
  margin: 30px auto 10px;
}

input[type="textarea"] {
  font-size:2rem;
  margin: 30px auto 10px;
  height: 50px;
}

.select {
  font-size: 1.5rem;
}

.parentDisable {
	z-index:999;
	width:620px;
	height:850px;
	display:none;
	position:absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 1);
}

.parentDisableHelp {
	z-index:999;
	width:720px;
	height:750px;
	display:none;
	position:absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 1);
}

.parentDisableScores {
	z-index:999;
	width:720px;
	height:750px;
	display:none;
	position:absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 1);
}

.parentDisableCard {
	z-index:999;
	width:720px;
	height:750px;
	display:none;
	position:absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 1);
}

.popin {
	width:620px;
	height:700px;
	margin: 0 auto;
}

.popinHelp {
	width:720px;
	height:680px;
	margin: 0 auto;
}

.popinScores {
	width:720px;
	height:680px;
	margin: 0 auto;
}

.popinPreview {
	width:720px;
	height:680px;
	margin: 0 auto;
}

#titleButton {
  color: black;
  text-decoration: none;
  display: inline-block;
}

#titleButton:hover {
  cursor: pointer;
}

input[type="checkbox"][id^="muteButton"] {
  display: none;
}

label[id^="muteLabel"]{
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

label[id^="muteLabel"] img {
  padding-left: 20px;
  height: 30px;
  width: 30px;
  transition-duration: 0.2s;
}

:checked+label img {
  content:url("../img/muteon.png");
}

button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0px 0px 20px 3px #000;
}

button:hover {
  background-color: #008CBA;
}


button#stop{
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #b81f1f;
  box-shadow: 0px 0px 20px 3px #000;
}

button#stop:hover {
  background-color: #008CBA;
}

.buttonS2{
  color: bisque;
  text-decoration: underline;
}

.buttonS2:hover {
  cursor: pointer;
  color: crimson;
}

.buttonS3{
  display: block;
  text-align: center;
  font-size: 16px;
  color: bisque;
  text-decoration: underline;
}

.buttonS3:hover {
  cursor: pointer;
  color: crimson;
}

footer {
  text-align: center;
  background-color: black;
  padding: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color:bisque;
}

footer a {
  font-size: 20px;
  color: bisque;
}

footer a:link {
  font-size: 20px;
  color: bisque;
}

footer a:visited {
  font-size: 20px;
  color: bisque;
}