/* Style pour les boutons */

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.reglebody {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  background-image: none;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  background: rgba(240, 173, 73, 0.37);
  box-shadow: 0px 0px 10px 2px #000;
}

main {
  text-align: center;
}

.poche {
  padding-top: 15px;
  font-size: 2rem;
  color: bisque;
  text-align: center;
}

.jeu {
  width: 810px;
  align-self: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding-top: 10px;
  color: white;
  box-shadow: 0px 0px 10px #000;
}

.jeu .side-left {
  position: absolute;
  float: left; 
  width: 380px; 
  text-align: center;
}

.jeu .middle {
  position: absolute;
  margin-left:380px; 
  width:50px; 
  text-align:center;
}

.jeu .side-right { 
  position: absolute;
  margin-left: 430px;
  width: 380px;  
  text-align:center;
}

.flip-card-3D-wrapper {
  -o-perspective: 1200px;
  -webkit-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

.flip-card-3D-wrapper2 {
  -o-perspective: 1200px;
  -webkit-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
}

#flip-card {
  width: 380px;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#flip-card2 {
  width:380px;
  margin-left: 430px;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.do-flip {
  -o-transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
}

.do-flip2 {
  -o-transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
}

.jeu #flip-card .carte-back-left {
  width: 380px;
  height: 540px;
  padding-top: 50px;
  float:left;
  z-index: 2;
}

.jeu #flip-card2 .carte-back-right {
  width: 380px;
  height: 540px;
  padding-top: 50px;
  z-index: 2;
}

.jeu .resultat {
  padding-top: 10px;
  width: 800px;
  text-align:center;
}

.jeu .gain{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: bisque;
}

.regles {
  text-align: left;
  color:bisque;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.aide {
  text-align: left;
  color:bisque;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.scores {
  text-align: left;
  color:bisque;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}

.indent {
  text-indent: 20px;
}

.gameover {
  display: none;
  width: 810px;
  align-self: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  text-align: center;
  color:bisque;
  font-size: 2rem;
}

.propcarte {
  display: none;
  width: 810px;
  align-self: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  text-align: center;
  color:bisque;
  font-size: 2rem;
}

table, td {
  border-collapse: collapse;
  color: bisque;
  font-size: 2rem;
  text-align: left;
}
td.record{
  color: bisque;
  font-size: 2rem;
  text-align: right;
}

td.vide {
  width: 40px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

form.form {
  width: 810px;
  align-self: center;
  margin: auto;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  font-size: 2rem;
  color: bisque;
  text-align: center;
}

.label{
  margin-bottom: 10px;
}

input[type="text"]{
  font-size:2rem;
  margin: 30px auto 10px;
}

input[type="textarea"] {
  font-size:2rem;
  margin: 30px auto 10px;
  height: 50px;
}

.select {
  font-size: 1.5rem;
}

.parentDisable {
	z-index:999;
	width:620px;
	height:850px;
	display:none;
	position:absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 1);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.parentDisableaide {
	z-index:999;
	width:720px;
	height:750px;
	display:none;
	position:absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 1);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.parentDisableScores {
	z-index:999;
	width:720px;
	height:750px;
	display:none;
	position:absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%);
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 1);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.popin {
	width:620px;
	height:700px;
	margin: 0 auto;
}

.popinaide {
	width:720px;
	height:680px;
	margin: 0 auto;
}

.popinscores {
	width:720px;
	height:680px;
	margin: 0 auto;
}

button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0px 0px 20px 3px #000;
}

button:hover {
  background-color: #008CBA;
}

.buttontitre {
  color: black;
  text-decoration: none;
}

.buttontitre:hover {
  cursor: pointer;
}

button.stop{
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #b81f1f;
  box-shadow: 0px 0px 20px 3px #000;
}

button.stop:hover {
  background-color: #008CBA;
}

.buttonS2{
  color: bisque;
  text-decoration: underline;
}

.buttonS2:hover {
  cursor: pointer;
  color: crimson;
}

.buttonS3{
  display: block;
  text-align: center;
  font-size: 16px;
  color: bisque;
  text-decoration: underline;
}

.buttonS3:hover {
  cursor: pointer;
  color: crimson;
}

footer {
  text-align: center;
  background-color: black;
  padding: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color:bisque;
}

footer a {
  font-size: 20px;
  color: bisque;
}

footer a:link {
  font-size: 20px;
  color: bisque;
}

footer a:visited {
  font-size: 20px;
  color: bisque;
}