/* Style pour les boutons */

body {
  font-size: 4rem;
  font-weight: bold;
  font-family: sans-serif;
}

section {
  text-align: center;
}

table {
  width: 50%;
  height: 18px;
  margin: auto;
}
table td.side { width: 25%; text-align: center; height: 18px; }
table td.middle { width: 5%; text-align: center; }

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #008CBA;} /* Blue */
.button2 {background-color: #4CAF50;} /* Green */
