/* Style pour les boutons */

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  background: rgba(240, 173, 73, 0.37);
  box-shadow: 0px 0px 10px 2px #000;
}

main {
  text-align: center;
}

footer {
  text-align: center;
  background-color: black;
  padding: 20px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.jeu {
  width: 810px;
  align-self: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 0px;
  color: white;
  box-shadow: 0px 0px 10px #000;
}

.jeu .side-left {
  position: absolute;
  float: left; 
  width: 380px; 
  text-align: center;
}

.jeu .middle {
  position: absolute;
  margin-left:380px; 
  width:50px; 
  text-align:center;
}

.jeu .side-right { 
  position: absolute;
  margin-left: 430px;
  width: 380px;  
  text-align:center;
}
.jeu .score-toi {
  position: absolute;
  padding-top: 40px;
  width: 380px;
  font-size: 1rem;
  text-align: center;
}

.jeu .score-ennemi {
  position: absolute;
  padding-top: 40px;
  margin-left: 430px;
  width: 380px;
  font-size: 1rem;
  text-align: center; 
}

.jeu .carte-back-left {
  width: 380px;
  height: 540px;
  padding-top: 60px;
  float:left;
}

.jeu .carte-back-right {
  width: 380px;
  height: 540px;
  padding-top: 60px;
  margin-left: 430px;
}

.jeu .resultat {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  text-align:center;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  background-color: #4CAF50;
  box-shadow: 0px 0px 20px 3px #000;
}
button:hover {
   background-color: #008CBA;
}
